/node_modules
/public/hot/*
/public/images/*
/public/css/*
/public/js/*
/public/fonts/*
/v8-compile-cache-0/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
