// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'cover';

.cart-page {
    .product-img-area {
        width: 240px;
        height: 180px;
        margin: 15px 9px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        .bg-0, .bg-1 {
            float: left;
            left: 0;
            width: 50%;
            height: 100%;
            background-repeat: no-repeat;
        }
        .bg-0 {
            background-position-x: 30px;
        }
        .bg-1 {
            background-position-x: -85px;
        }
    }
    .input-group-text {
        width: 83px;
    }

    .product-form {
        .card-footer {
            padding: 0.5rem;
            height: 190px;
        }
    }

    .btn-remove-cart {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .card-text {
        line-height: 1;
    }
}

#my-alert {
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 2;
    &.hide {
        z-index: 0;
    }
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
